button.my-btnn {
    background: rgb(8, 236, 160);
    border-radius: 0;
    border-left: 2px solid black;

}

.my-navbar {
    background: rgb(17, 209, 100);
}

.my-input {
    width: 14rem;
    height: 2.5rem;
    outline-style: none;
}

.my-badge {
    height: 1.3rem;

}

.my-img {
    height: 2.5rem;
}